<div class="col-xs-3 nopadding">
  <div class="product_img col-md-12 nopadding">
    <%= image_tag p.image %>
  </div>
  <div class="product_info">
    <div class="col-md-12">
      <div class="product_name">
        <div class="col-xs-6 nopadding">
          <h4><%= p.name %></h4>
        </div>
        <div class="col-xs-6 nopadding" id="price">
          <h4><%= t(".product_price", price: p.price) %></h4>
        </div>
      </div>
      <div class="product_add col-md-12">
        <%= link_to t(".add_cart"), product_path(id: p.id),
         class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
