<% provide :title, t("home") %>
<main>
  <div class="container">
    <div class="col-xs-12" id="product_list_item">
      <div class="title">
        <h3><%= t "Mobile phone" %></h3>
      </div>
      <div id="product" class="col-xs-12 nopadding">
        <div id="product_list" class="col-xs-12">
          <div class="col-xs-12 nopadding">
            <div class="product_img col-md-3 nopadding">
              <img src="img/product1.png">
            </div>
            <div class="product_info">
              <div class="col-md-9">
                <div class="product_name">
                  <h4>IPhone 8</h4>
                </div>
                <div class="product_detail">
                  <div class="col-xs-12 nopadding">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                   tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                   quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                   consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                   cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                   proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
                <div class="product_review col-md-6">
                  <a href="#" class="btn btn-success"><%= t "review" %></a>
                </div>
                <div class="product_add col-md-6">
                  <button class="btn-primary btn"><%= t "add_cart" %></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
