<div class="col-xs-2" id="menu_manager">
  <div class="list-group">
    <%= link_to t(".products_all"), product_manager_path , class: "list-group-item" %>
    <%= link_to t(".users_all"), user_manager_path , class: "list-group-item" %>
    <%= link_to t(".bills_all"), cart_manager_path , class: "list-group-item" %>
  </div>
</div>
