<div class="col-md-4" id="menu_manager">
  <div class="list-group">
    <%= link_to t(".products_all"), products_url , class: "list-group-item" %>
    <%= link_to t(".users_all"), users_url , class: "list-group-item" %>
    <%= link_to t(".bills_all"), carts_url , class: "list-group-item" %>
  </div>
</div>
