<% if c.user %>
  <tr>
    <td><%= c.id %></td>
    <td><%= c.user.email %></td>
    <td><%= c.cart_price %></td>
    <td>
      <%= link_to c, method: :delete, data:{confirm: t(".sure")},
        class: "btn btn-danger" do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </td>
  </tr>
<% end %>
