@import 'bootstrap-sprockets';
@import 'bootstrap';

$blue: #337ab7;
$gray: #f8f8f8;
$white: #fff;
$red: #FF0000;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1{
  text-align: center;
}
/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

*{
  margin: 0;
  padding: 0;
}

.nopadding{
  padding: 0;
}

.nomargin{
  margin: 0;
}

body,
html{
  background-color: $gray;
  height: 100%;
  #main{
    min-height: 100%;
  }
}

.title{
  background: $blue;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: $white;
  margin-top: 10px;
  padding: 2px 0px;
  h3{
    padding-left: 8px;
  }
}

.news{
  border-top: 2px solid $blue;
  margin-bottom: 13px;
  padding-top:2px;
}

.user-info{
  margin-bottom: 10px;
}

.navbar-default{
  background-color: $blue;
}

.navbar-default{
  .navbar-brand,
  .navbar-nav>li>a,
  .navbar-brand:hover,
  .navbar-nav>li>a:hover,
  .navbar-nav>li>a:focus,
  .navbar-nav .open a,
  .navbar-nav .open a:focus,
  .navbar-nav > li > .dropdown-menu{
    color: $white;
    background-color: $blue;
  }
  .navbar-brand{
    font-size: 30px;
  }
}

#header_search{
  margin: 8px 0;
}

#bill {
  border-top: 1px solid
}

#add_to_cart{
  position: sticky;
  top: 0;
}

#menu_manager{
  position: sticky;
  top: 0;
}

a.list-group-item:hover{
  background-color: $blue;
  color: $white;
}

#title_manager{
  background-color: $blue;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: $white;
  padding: 10px;
}

#product_list{
  background-color: $white;
  margin-bottom: 10px;
  .col-xs-3{
    border: 1px solid $white;
    margin-top: 10px;
    padding-bottom: 5px;
    text-align: center;
  }
  .col-xs-3:hover{
    border: 1px solid $blue;
    border-radius: 5px;
  }
  #price{
    color: $red;
  }
  .product_name h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#cart_link{
  a{
    bottom: 80px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 40px;
    padding: 10px;
    position: fixed;
    right: 20px;
    top: unset;
  }
  a:hover,
  a:focus{
    text-decoration: none
  }
}

.center-info{
  background-color: $white;
  padding: 10px 0;
  .product-list-item{
    margin: 10px 0;
  }
}

.ui-autocomplete.ui-front{
  display: block;
  position: absolute;
  width: 200px;
  margin: 0;
  li{
    background-color: $white;
    color: $blue;
    list-style: none;
    padding: 10px;
  }
  li:hover{
    background-color: $blue;
    color: $white;
  }
}

.ui-helper-hidden-accessible{
  display: none;
}

#review{
  h3{
    padding-left: 30px;
  }
  #review_comment{
    resize: vertical;
  }
  .review_list{
    margin-top: 10px;
    .col-xs-8{
      background-color: $blue;
      border-radius: 5px;
      padding: 10px;
      color: $white;
    }
    .comment{
      word-wrap: break-word;
    }
    .user_name{
      color: $blue;
    }
  }
  #review_comment{
    overflow: hidden;
    height: 100px;
  }
}

footer{
  background-color: $blue;
  color: $white;
  margin-top: 10px;
  padding: 7px 0;
  right: 0;
}

.checkbox {
  margin: -10px 0px 10px 0px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

/* Products index */

.products {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
