<% if logged_in? %>
  <div id="cart_link">
    <%= link_to "", cart_path(id: session[:cart]),
      class: "glyphicon glyphicon-shopping-cart" %>
  </div>
<% end %>
<footer>
  <div class="container">
    <div class="col-xs-6">
      <h5><%= t ".makeby" %></h5>
    </div>
    <div class="pull-right">
      <h5><%= t ".thankyou" %></h5>
    </div>
  </div>
</footer>
